.sign-up-panel {
  width: 500px;
  padding: 0px 40px;
  margin-left: 214px;

  #sns-login {
    margin-bottom: 13px;
  }

  .location-n-college {
    .col-xs-6:first-child {
      padding-left: 0;
    }

    .col-xs-6:last-child {
      padding-right: 0;
    }
  }
}
