.row.comment
  .col-xs-1
    = cl_image_tag comment.user.avatar_cloudinary_id, width: 45, height: 45, crop: 'fill', gravity: 'face'
  .col-xs-11

    .user-name
      = link_to comment.user.full_name.titleize, show_user_path(comment.user)
    .lg
      = simple_format comment.comment
    .text-muted
      = time_ago_in_words comment.created_at
      ago
%hr
