.auth-item
  - fb_auth = current_user.sign_in_authentications.find_by(provider: 'facebook')
  %input{type: 'checkbox', id: 'fb-login-check', checked: fb_auth.present?, 'data-id' => fb_auth.try(:id)} &nbsp;&nbsp;LOG IN WITH FACEBOOK

.auth-item
  - gg_auth = current_user.sign_in_authentications.find_by(provider: 'google')
  %input{type: 'checkbox', id: 'gg-login-check', checked: gg_auth.present?, 'data-id' => gg_auth.try(:id)} &nbsp;&nbsp;LOG IN WITH GOOGLE

