.hide
  = form_for :post, url: posts_path do |f|
    = f.cl_image_upload :cloudinary_data
    = f.submit id: 'upload-post-submit'

#upload-post-modal.modal.fade
  .modal-dialog.modal-dialog-center.modal-dialog-narrow
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}
          &times;
        %h4.modal-title
          = fa_icon('fire', text: 'Upload from local')
      .modal-body.text-center
        %button#choose-post-photo-btn.btn.btn-primary.btn-lg.btn-block
          Choose a photo
        %h5
          Or drag & drop it anywhere on our page
        %hr
        %p
          Photo must be larger than
          %strong 640x640
          px.
          %br
          Accepts .xx, .xx and .xx
