%button#go-top-btn.btn.btn-default
  .icons-back2top

.container
  .pull-right
    %a{href: '#'}
      About
    %a{href: '#'}
      Help
    %a{href: '#'}
      Privacy & Terms
    %a{href: 'mailto:contact@phinery.com'}
      Contact Us
  .pull-left
    © 2014 Phinery.
