%ul.nav.navbar-nav
  = link_to root_path, class: 'navbar-brand' do
    = image_tag 'logo.png'

  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
      / .icons-tasks
      Feed
    %ul#nav-menu.dropdown-menu
      = render 'partials/nav_menu'
