/ for testing purpose load each image 20 times
- 20.times do
  .small-post.masonry-brick{title: small_post.title}
    = link_to small_post do
      = cl_image_tag small_post.cloudinary_id, width: 190
