= form_for current_user.follow_relationships.find_by(followed_id: user), html: { method: :delete }, remote: true do |f|
  .btn-group
    = f.submit 'Followed', class: 'btn btn-primary', id: 'unfollow-btn'
