= form_for current_user.follow_relationships.find_by(followed_id: user), html: { method: :delete }, remote: true do |f|
  .btn-group
    = f.submit 'Followed', class: 'btn btn-default', id: 'unfollow-btn'
    = link_to root_path, class: 'btn btn-default' do
      = user.followers_count
