.container
  .col-xs-6.col-xs-offset-3
    %h3.text-center
      Forgot your password?
    %br
    = form_for(:user, as: @user, url: password_path('user'), html: { method: :post, class: 'form-horizontal', id: 'forgot-password-form' }) do |f|
      .form-group
        %label Email
        = f.email_field :email, autofocus: true, autocomplete: false, class: 'form-control', 'data-error' => field_err(@user, :email)
      .form-group
        = f.submit 'Send me instructions to reset password', class: 'btn btn-primary btn-lg btn-block'
