#go-top-btn {
  @include transition(0.2s);

  position: fixed;
  bottom: 6%;
  right: 4%;
  opacity: 0;

  .icons-back2top {
    width: auto;
    padding-left: 19px;
    background-position: sprite-position($icons, back2top, -4px);
  }
}

#footer {
  -webkit-font-smoothing: antialiased;
  padding-top: 7px;
  width: 100%;
  height: 32px;
  background-color: $brand-primary;
  color: white;
  font-weight: bold;
  font-size: 12px;
  position:absolute;
  bottom:0;
  left:0;
  min-width: 960px;

  a {
    display: inline;
    margin: 0 12px;
    list-style: none;
    color: white;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}
