#go-top-btn {
  @include transition(0.2s);

  position: fixed;
  bottom: 6%;
  right: 4%;
  opacity: 0;

  .icons-back2top {
    width: auto;
    padding-left: 19px;
    background-position: sprite-position($icons, back2top, -4px);
  }
}
