#go-top-btn {
  @include transition(0.2s);
  @include border-radius(0px);
  @include box-shadow(0 0 3px rgba(0, 0, 0, 0.06));

  position: fixed;
  bottom: 10%;
  right: 4%;
  opacity: 0;
  padding: 4px 7px;
  border-color: #ccc;
  background-color: white;

  &:hover {
    background-color: #ebebeb;
  }
}
