.forgot-password {
  font-weight: normal;
}
#sns-signin {
  padding-top: 12px;
  .facebook-color {
    color: #3B5998;
  }
  .google-color {
    color: #C63D2D;
  }
  .twitter-color {
    color: #00A0D1;
  }
}
