.navbar-fixed-top {
  @include background-clip-padding-box;
  @include box-shadow(rgba(0, 0, 0, 0.04) 0 2px 3px);

  border-bottom: 1px solid rgba(0, 0, 0, 0.13);

  .navbar-brand {
    padding: 7px 15px 5px 15px;

    img {
      height: 30px;
    }
  }

  li.dropdown .dropdown-toggle {
    @include transition(0.25s);

    color: $navbar-color;
  }
  li.dropdown .dropdown-toggle:hover, li.dropdown .dropdown-toggle:focus {
    color: $brand-primary;
    background-color: #eee;
  }

  .btn {
    height: 30px;
    margin-top: 6px;
    padding-top: 5px;
  }

  input {
    height: 30px;
    margin-top: 1px;
    padding-top: 5px;
  }

  #post-style-btn {
    margin-right: 10px;
  }

  #nav-user-menu-btn {
    margin-right: 15px;

    .glyphicon {
      display: inline-block;
      margin-right: 2px;
    }

    & + .dropdown-menu {
      margin-top: 1px;
    }
  }
}

.forgot-password {
  font-weight: normal;
}
#sns-login {
  margin-bottom: 23px;

  .fb-login-btn {
    padding-left: 0px;

    a {
      i {
        padding-right: 4px;
      }
      background-color: $facebook;
      color: white;
      border: 1px solid darken($facebook, 5%);
      font-size: 14px;
    }

    a:hover {
      background-color: darken($facebook, 5%);
      border-color: darken($facebook, 12%);
    }
  }

  .gg-login-btn {
    padding-right: 0px;

    a {
      background-color: $google;
      color: white;
      border: 1px solid darken($google, 5%);
      font-size: 14px;
    }

    a:hover {
      background-color: darken($google, 5%);
      border-color: darken($google, 12%);
    }
  }
}

.nav-search {
  padding-left: 0;
  padding-right: 0;
  width: 220px;
  i {
    color: #777;
    font-size: 14px;
  }
  .btn {
    margin-top: 1px;
    width: 35px;
    padding: 5px 6px;
  }
}

#log-in-btn {
  color: #333;

  &:hover {
    text-decoration: underline;
  }
}

#sign-up-btn {
  margin-left: 20px;
  padding-top: 4px;
  font-weight: bold;
}

#sign-in-modal {
  margin-top: 4%;

  .modal-dialog {
    width: 500px;
  }

  hr {
    width: 406px;
  }
}
