.navbar-fixed-top {
  @include background-clip(padding-box);
  @include box-shadow(rgba(0, 0, 0, 0.075) 0 1px 4px);

  border-bottom: 1px solid rgba(0, 0, 0, 0.13);

  .navbar-brand {
    padding: 7px 18px 4px 16px;
  }

  li.dropdown .dropdown-toggle {
    @include transition(all 0.2s);

    color: #555;
    border-left: 1px solid #f1f1f1;

    &.border-right {
      border-right: 1px solid #f1f1f1;
    }

    &.dropdown-fw {
      width: 60px;
      text-align: center;
    }
  }

  li.dropdown .dropdown-toggle:hover, li.dropdown .dropdown-toggle:focus {
    color: $brand-primary;
    background-color: #f1f1f1;
  }

  .navbar-right {
    .dropdown-menu {
      left: 0;
      right: auto;
    }
  }

  // #sort-dropdown {
  //   & > a {
  //     strong {
  //       position: relative;
  //       top: -2px;
  //     }

  //     .icons-sort {
  //       display: inline-block;
  //       background-position: sprite-position($icons, sort, -5px);
  //       width: 11px;
  //       height: 17px;
  //     }
  //   }

  //   & > a:hover, &.open {
  //     .icons-sort {
  //       background-position: sprite-position($icons, sort_blue, -5px);
  //     }
  //   }
  // }

  #post-dropdown {

    & > a {
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 12px;
      padding-right: 12px;
    }

    & > a:hover, &.open {
      .icons-plus {
        background-position: sprite-position($icons, plus_blue);
      }
    }
  }
}

.forgot-password {
  font-weight: normal;
}
#sns-login {
  margin-bottom: 23px;

  .fb-login-btn {
    padding-left: 0px;

    a {
      .icons-facebook {
        width: auto;
        padding-left: 21px;
        background-position: sprite-position($icons, facebook, 8px, -1px);
      }

      background-color: $facebook;
      color: white;
      border: 1px solid darken($facebook, 5%);
      font-size: 14px;
    }

    a:hover {
      background-color: darken($facebook, 5%);
      border-color: darken($facebook, 12%);
    }
  }

  .gg-login-btn {
    padding-right: 0px;

    a {
      .icons-google {
        width: auto;
        padding-left: 20px;
        background-position: sprite-position($icons, google, 12px);
      }

      background-color: $google;
      color: white;
      border: 1px solid darken($google, 5%);
      font-size: 14px;
    }

    a:hover {
      background-color: darken($google, 5%);
      border-color: darken($google, 12%);
    }
  }
}

.nav-search {
  padding-left: 0;
  padding-right: 0;

  form {
    margin-top: 6px;
    margin-bottom: 2px;
  }

  #nav-search-box {
    height: 28px;
    padding-top: 5px;
    width: 175px;
    padding-left: 26px;
    background-position: sprite-position($icons, search, 4px, 1px);
  }
}

#sign-up-btn {
  font-weight: bold;
}

#sign-in-modal {
  margin-top: 4%;

  .modal-dialog {
    width: 500px;
  }

  hr {
    width: 406px;
  }
}
