.navbar-fixed-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);

  li.dropdown .dropdown-toggle {
    color: #569fde;
  }

  .btn {
    height: 30px;
    margin-top: 6px;
    padding-top: 5px;
  }
  input {
    height: 30px;
    margin-top: 1px;
    padding-top: 5px;
  }

  .btn:hover {
    background-color: #ebebeb !important;
  }

  #post-style-btn {
    width: 41px;
    margin-right: 15px;
    color: #569fde;
  }

  #nav-btn {
    color: #569fde;
    width: 54px;
  }
  .btn-group #nav-btn {
    margin-right: -1px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  #nav-user-menu-btn {
    margin-right: 15px;
    color: #333;
  }
  #sort-buttons {
    margin-left: 10px;
    margin-right: 5px;
    .btn {
      font-size: 12px;
      padding: 5px 6px;
      width: 50px;
      color: #333;
    }
  }
}

.forgot-password {
  font-weight: normal;
}
#sns-signin {
  padding-top: 12px;
  .facebook-color {
    color: #3B5998;
  }
  .google-color {
    color: #C63D2D;
  }
  .twitter-color {
    color: #00A0D1;
  }
}

.nav-search {
  padding-left: 0;
  padding-right: 0;
  width: 220px;
  i {
    color: #777;
    font-size: 14px;
  }
  .btn {
    margin-top: 1px;
    width: 35px;
    padding: 5px 6px;
  }
}
#log-in-btn {
  color: #333;
}
#log-in-btn:hover {
  text-decoration: underline;
}
#sign-up-btn {
  margin-left: 20px;
  color: #569fde;
}
