#user-bar {
  img {
    margin-right: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
  }

  h3 {
    margin: 0px;
    padding-top: 9px;
    margin-bottom: -1px;
  }
}

#user-stats {
  padding-top: 22px;
  margin-left: -10px;

  .col-xs-3 {
    border-right: 1px solid #ddd;

    .stat-count {
      font-size: 20px;
    }

    .stat-name {
      font-size: 12px;
      color: #999;
    }
  }

  .col-xs-3:last-child {
    border-right: none;
  }
}
