= form_for post.like_relationships.find_by(user_id: current_user.id), html: { id: 'hidden-like-form', method: :delete }, remote: true do |f|
  = f.submit '', class: 'hidden'

#post-likes.post-likes-click.info-entry
  .pull-right
    =@post.likes
  .icons-heart_lg_red
    U like it
