= form_for post.like_relationships.find_by(user_id: current_user.id), html: { id: 'hidden-like-form', method: :delete }, remote: true do |f|
  = f.submit '', class: 'hidden'

#post-likes.post-likes-click.info-entry
  %span.glyphicon.glyphicon-heart
  %small.text-muted U like it
  .pull-right
    =@post.likes
