.container
  #hot-carousel.carousel.slide{'data-ride' => 'carousel'}
    .post-row-header
      Hot
      %span.more
        = link_to 'More', posts_path(params.merge(sort: 'Hot'))
      %ol.carousel-indicators
        %li.active{'data-target' => '#hot-carousel', 'data-slide-to' => '0'}
        %li{'data-target' => '#hot-carousel', 'data-slide-to' => '1'}

    %hr.hr-close

    .carousel-inner
      - @hot_posts.each_slice(4) do |posts|
        .item
          - posts.each do |post|
            .col-xs-3
              = render 'home_post', post: post

  #new-carousel.carousel.slide{'data-ride' => 'carousel'}
    .post-row-header
      New
      %span.more
        = link_to 'More', posts_path(params.merge(sort: 'New'))
      %ol.carousel-indicators
        %li.active{'data-target' => '#new-carousel', 'data-slide-to' => '0'}
        %li{'data-target' => '#new-carousel', 'data-slide-to' => '1'}
    %hr.hr-close

    .carousel-inner
      - @new_posts.each_slice(4) do |posts|
        .item
          - posts.each do |post|
            .col-xs-3
              = render 'home_post', post: post

    / .col-xs-3.streched
    /   #top-tags
    /     %strong
    /       Top tags
    /     %hr.hr-close
    /       .text-center
    /         - @top_tags.each do |tag|
    /           = link_to tag.name.downcase, tag, class: 'tag'
