.container
  #hot-carousel.carousel.slide{'data-ride' => 'carousel'}
    .post-row-header
      %span.glyphicon.glyphicon-heart
      MOST LIKED
      %span.more
        = link_to 'MORE', posts_path(params.merge(sort: 'Hot'))
      %ol.carousel-indicators
        %li.active{'data-target' => '#hot-carousel', 'data-slide-to' => '0'}
        %li{'data-target' => '#hot-carousel', 'data-slide-to' => '1'}


    .carousel-inner
      - @hot_posts.each_slice(4) do |posts|
        .item
          - posts.each do |post|
            .col-xs-3
              = render 'posts/post', post: post, show_tag: 0

  #new-carousel.carousel.slide{'data-ride' => 'carousel'}
    .post-row-header
      %span.glyphicon.glyphicon-eye-open
      MOST VIEWED
      %span.more
        = link_to 'MORE', posts_path(params.merge(sort: 'New'))
      %ol.carousel-indicators
        %li.active{'data-target' => '#new-carousel', 'data-slide-to' => '0'}
        %li{'data-target' => '#new-carousel', 'data-slide-to' => '1'}

    .carousel-inner
      - @most_viewed_posts.each_slice(4) do |posts|
        .item
          - posts.each do |post|
            .col-xs-3
              = render 'posts/post', post: post, show_tag: 0

