.container
  .btn-group
    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
      Everything
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        %a{href: "#"} Everything
      %li.divider
      %li
        %a{href: "#"} Channel 1
      %li
        %a{href: "#"} Channel 2
      %li
        %a{href: "#"} Channel 3