.container
  #masonry-container
    = render @posts
  #paginate-containter
    = paginate @posts

  .text-center
    #load-more.btn.btn-default
      = fa_icon 'repeat'
      %strong
        &nbsp;Loading more ..
