.container
  .row
    .col-xs-8
      .row
        .col-xs-2
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{'data-toggle' => 'dropdown', type: 'button'}
              EVERYTHING
              %span.caret
            %ul.dropdown-menu
              %li
                %a{href: '#'} EVERYTHING
              %li.divider
              %li
                %a{href: '#'} Channel 1
              %li
                %a{href: '#'} Channel 2
              %li
                %a{href: '#'} Channel 3

        .col-xs-3.text-center
          .btn-group
            .btn.btn-default.btn-xs ALL
            .btn.btn-default.btn-xs FOLLOWED

        .col-xs-4.text-center
          .btn-group
            .btn.btn-default.btn-xs HOT
            .btn.btn-default.btn-xs NEW
            .btn.btn-default.btn-xs.dropdown-toggle{'data-toggle' => 'dropdown', type: 'button'}
              THIS WEEK
              %span.caret

            %ul.dropdown-menu.text-left
              %li
                %a{href: '#'} TODAY
              %li
                %a{href: '#'} THIS WEEK
              %li
                %a{href: '#'} THIS MONTH
              %li
                %a{href: '#'} ALL TIME
        .col-xs-3
          .btn-group.pull-right
            .div.btn.btn-default.btn-xs.active
              LARGE
            = link_to 'GRID', posts_path(view: 'grid'), class: 'btn btn-default btn-xs'

      %hr
      #posts
        = render @posts

      #paginate-containter
        = paginate @posts, theme: 'twitter-bootstrap-3'

      .row
        .col-xs-8.text-center
          #load-more.btn.btn-default
            = fa_icon 'repeat'
            %strong
              &nbsp;Loading more ..

    .col-xs-4
      anouncements and activities go here.


