/*
	Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
}

	#aToolTip .aToolTipContent {
		position:relative;
		margin:0;
		padding:0;
	}
/*
	END: Required Styles
*/
/**
	Default Theme
*/
.defaultTheme {
	border:1px solid #292929;
	background:#333;
	color:#fff;
	margin:0;
	padding:3px 8px;
	font-size: 12px;
	opacity: 0.9;
}

	.defaultTheme #aToolTipCloseBtn {
		display:block;
		height:18px;
		width:18px;
		background:url(../images/closeBtn.png) no-repeat;
		text-indent:-9999px;
		outline:none;
		position:absolute;
		top:-20px;
		right:-30px;
		margin:2px;
		padding:4px;
	}
