.user-brick {
  @include box-shadow(rgba(0, 0, 0, 0.06) 0px 1px 2px);
  @include border-radius(4px);

  width: 298px;
  border: 1px solid #d6d6d6;
  background: white;
  margin-bottom: 15px;
  overflow: hidden;

  .exhibit-posts {
    border-bottom: 1px solid #e7e7e7;

    .exhibit-post {
      display: inline-block;
      margin-right: -4px;

      a {
        @include zoom-in-cursor;
      }
    }
  }

  .user-info {
    .pull-left {
      padding: 8px 10px;

      img {
        @include border-radius(2px);
      }
    }

    .pull-right {
      padding-top: 15px;
      padding-right: 13px;

      .btn {
        font-size: 12px;
      }
    }

    .user-name {
      padding-top: 10px;
    }

    .user-stats {
      padding-top: 5px;
      color: #999;
      font-weight: normal;

      small {
      }

      p {
        margin-bottom: 5px;
      }
    }
  }
}
