body.users-edit, body.users-update {
  h4 {
    font-size: 12px;
    border-bottom: 1px solid black;
    margin-bottom: 45px;
  }
  #avatar-preview {
    @include border-radius(3px);

    margin-left: 12px;
  }

  #upload-avatar-btn {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  #step-2 {
    margin-top: 15px;

    button {
      margin-right: 15px;
    }
  }

  .tall-h4 {
    margin-top: 60px;
  }

  #personal-url {
    #url-prefix {
      font-weight: normal;
      margin-right: -15px;
    }

    .col-xs-5 {
      padding-right: 0px;
    }
  }
}
