body.users-edit, body.users-update {
  img {
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 12px;
  }

  #upload-avatar-btn {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  #step-2 {
    margin-top: 15px;

    button {
      margin-right: 15px;
    }
  }

  .tall-h4 {
    margin-top: 60px;
  }
}
