body.users-show {
  #load-more {
    opacity: 0;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

#user-tabs {
  padding-left: 1px;
  margin-bottom: 20px;
  margin-top: 10px;
  div {
    text-align: center;
    display: inline-block;
    padding: 20px 15px 5px 15px;
    border-bottom: 2px solid #ddd;
    a {
      color: #aaa;
    }

    a:hover {
      color: #555;
      text-decoration: none;
    }

    .tab-count {
      font-size: 18px;
    }
  }

  .active-tab {
    border-bottom: 2px solid $brand-blue;
  }

  #user-rest-tab {
    font-size: 18px;
    min-width: 668px;
  }
}
