#user-tabs {
  text-transform: uppercase;
  padding-left: 1px;
  margin-bottom: 20px;
  margin-top: 10px;
  div {
    text-align: center;
    display: inline-block;
    padding: 20px 15px 5px 15px;
    border-bottom: 1px solid #ccc;
    min-width: 155px;

    a {
      color: #aaa;
    }

    a:hover {
      color: $brand-black;
      background-color: white;
      text-decoration: none;
    }

    .tab-count {
      font-size: 15px;
    }
  }

  .active-tab {
    border-bottom: 1px solid $brand-primary;
  }

  #user-rest-tab {
    font-size: 15px;
    min-width: 609px;
  }
}
