.masonry-brick {
  // @include box-shadow(rgba(0, 0, 0, 0.08) 0px 1px 4px);
  // @include border-radius($border-radius-base);

  width: 220px;
  // border: 1px solid #ccc;
  background: white;
  margin-bottom: 25px;
  overflow: hidden;

  .masonry-img a {
    @include zoom-in-cursor;
  }

  .masonry-like-btn {
    @include transition(all 0.25s);

    z-index: 4;
    position: absolute;
    right: 10px;
    top: 8px;
    opacity: 0;

    button, .fake-btn {
      // @include border-radius(2px);
      // @include box-shadow(rgba(0, 0, 0, 0.55) 0 1px 3px);

      min-width: 50px;
      height: 25px;
      font-size: 13px;
      font-weight: bold;
      // opacity: 0.8;
      border: none;
      outline: none;
      padding: 4px 13px 4px 10px;
      color: #fff;
      background-color: black;
      -webkit-font-smoothing: antialiased;

      .icons-hrt_white {
        display: inline-block;
        background-position: sprite-position($icons, hrt_white, 0, -2px);
        width: auto;
        padding-left: 23px;
      }

      .icons-hrt_red {
        display: inline-block;
        background-position: sprite-position($icons, hrt_red, 0, -2px);
        width: auto;
        padding-left: 23px;
      }
    }
  }

  .masonry-like-btn button:hover {
    // opacity: 0.85;
  }

  .masonry-title {
    margin-top: 5px;
    // font-size: 12px;
    min-height: 22px;
    padding: 5px 10px;
    // border-top: 1px solid #e7e7e7;
    // border-bottom: 1px dashed #e7e7e7;
    word-wrap:break-word;
    text-align: center;
    text-transform: uppercase;

    &.truncate {
      text-overflow: ellipsis;
      white-space:nowrap;
      overflow: hidden;
    }
  }

  .masonry-author {
    color: #999;
    height: 22px;
    text-align: center;
    font-size: 10px;
    text-decoration: underline;
    text-transform: uppercase;

    .post-stats {
      @include transition(all 0.25s);

      font-size: 11px;


    }

    .user-name {
      @include transition(all 0.25s);

      position: absolute;
      left: 10px;
      opacity: 0;
    }
  }

  .masonry-heart {
    text-align: center;

    .glyphicon-heart {
      color: red;
    }
  }

  .masonry-tags {
    padding: 6px 10px;
    border-top: 1px dashed #e7e7e7;
    background-color: #f8f8f8;
    .tag {
      margin-right: 2px;
      font-size: 10px;
      line-height: 20px;
    }
  }
}

.masonry-brick:hover {
  .masonry-like-btn {
    opacity: 1;
  }
}
