body.posts-crop {
  .panel {
    margin-left: 165px;
    padding: 3px 20px 20px 20px;
    box-shadow: none;
  }

  #crop-container {

    #crop-img-container {
      border: 1px solid #999;
    }

    h4 {
      padding-bottom: 18px;

      .btn {
        margin-top: -7px;
      }
    }
  }
}
