#masonry-container {
  margin-top: 10px;
  padding-left: 1px;
}

#load-more {
  @include transition(all 0.3s);

  opacity: 0;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 35px;
  color: #999;
  text-align: center;
  font-weight: bold;
}

.simple-sort {
  margin-right: 10px;
  margin-top: 5px;
}
