.item-label{
  @include transition(all 0.2s);
  @include box-shadow(rgba(0, 0, 0, 0.55) 0 1px 3px);
  @include border-radius(2px);

  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  text-align: center;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-size: 14px;

  &:hover {
    background-color: saturate(lighten($brand-primary, 10%), 5%);
    opacity: 0.9;
  }
}

.item-label-hover {
  background-color: saturate(lighten($brand-primary, 10%), 5%);
  opacity: 0.9;
}

.item-label-no-anim {
  @include transition(0);

  opacity: 0.9;
}

.item-form {
  @include border-radius(3px);
  @include box-shadow(rgba(0, 0, 0, 0.15) 0 1px 4px);
  @include background-clip(padding-box);

  position: absolute;
  z-index: 999;
  padding: 10px 15px 5px 15px;
  width: 220px;
  cursor: move;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);

  .form-group {
    margin-bottom: 10px;

    input {
      height: 25px;
      padding: 5px 6px;
    }

    select {
      @include box-shadow(none);

      appearance: button;
      -o-appearance: button;
      -ms-appearance: button;
      -moz-appearance: button !important;
      -khtml-appearance: button;
      -webkit-appearance: button;
      height: 25px;
      font-size: 12px;
      padding: 3px 6px 4px 6px;
      width: 188px;
      background-position: sprite-position($icons, sort-light, 165px, 1px)
    }

    .hide-item-form-btn {
      @include border-radius(2px);

      height: 25px;
      width: 80px;
      padding: 3px 10px;
      margin-top: 3px;
    }

    .pull-right {
      font-size: 12px;
      padding-top: 8px;
      padding-right: 1px;
    }

    .error {
      font-size: 12px;
    }
  }
}

#post-img-container {
  position: relative;

  img {
    cursor: pointer;
  }
}

#show-post-img-container:hover {
  .item-label {
    opacity: 0.8;
  }
}

#tag-list-input {
  text-transform: uppercase;
}

.ui-autocomplete {
  .ui-state-hover {
    background-color: #444;
  }
}
