#items-info {
  margin-top: 10px;

  .item-name {
    padding: 0;
    width: auto;
    color: red;
  }

  a {
    text-decoration: underline;
  }
}

.item-label{

  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  text-align: center;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-size: 13px;
  padding-top: 1px;

  &:hover {
    background-color: red;
  }
}

.item-label-hover {
  background-color: saturate(lighten($brand-primary, 10%), 5%);
  opacity: 0.9;
}

#tags-edit {
  margin-top: 5px;
  margin-bottom: 10px;
}

.tag-edit {
  cursor: pointer;
  display: inline-block;
  padding: 1px 3px;
  margin-right: 6px;
  margin-bottom: 5px;
  background-color: #eee;
  font-size: 11px;
  text-transform: uppercase;

  &:hover {
    background-color: black;
    color: white;
  }

  &.selected {
    background-color: black;
    color: white;

    &:hover {
      background-color: #eee;
      color: black;
    }
  }
}

#add-tags-modal {
  label {
    margin-bottom: 5px;
  }

  input {
    text-transform: uppercase;
  }
}

.item-form {
  // @include border-radius(3px);
  // @include box-shadow(rgba(0, 0, 0, 0.15) 0 1px 4px);
  // @include background-clip(padding-box);

  position: absolute;
  z-index: 999;
  padding: 10px 15px 5px 15px;
  width: 220px;
  cursor: move;
  background-color: white;
  border: 1px solid black;

  .form-group {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;

    select {
      @include box-shadow(none);

      appearance: button;
      -o-appearance: button;
      -ms-appearance: button;
      -moz-appearance: button !important;
      -khtml-appearance: button;
      -webkit-appearance: button;
      height: 25px;
      font-size: 11px;
      padding: 3px 8px 4px 8px;
      width: 188px;
      background-position: sprite-position($icons, sort-light, 165px, -1px)
    }

    .hide-item-form-btn {
      margin-top: 3px;
    }

    .pull-right {
      text-decoration: underline;
      font-size: 10px;
      padding-top: 9px;
    }

    .error {
      font-size: 10px;
    }
  }
}

#post-img-container {
  position: relative;

  img {
    cursor: pointer;
  }
}

#show-post-img-container:hover {
  .item-label {
    opacity: 0.8;
  }
}

#tag-list-input {
  text-transform: uppercase;
}
