body.posts-show {
  padding-top: 70px;

  #post-main {
    width: 432px;

    #post-nav {
      margin-top: -24px;
      margin-bottom: 10px;

      .pull-left, .pull-right {
        @include border-radius(2px);
        @include transition(all 0.25s);

        padding: 15px 5px;
        color: #999;
        cursor: pointer;
        margin-top: 3px;

        &:hover {
          background-color: #ddd;

          .icons-left {
            background-position: sprite-position($icons, left_blue, -1px);
          }

          .icons-right {
            background-position: sprite-position($icons, right_blue, 1px);
          }
        }

        .icons-left {
          background-position: sprite-position($icons, left, -1px);
        }

        .icons-right {
          background-position: sprite-position($icons, right, 1px);
        }
      }

      h3 {
        margin-top: 2px;
        margin-bottom: -7px;
        font-size: 18px;
        padding-top: 10px;
      }

      h3.small {
        font-size: 15px;
      }
    }
  }

  #post-comments {
    margin-top: 20px;

    #post-comments-header {
      text-align: center;
      border-bottom: 2px solid #ddd;
      padding: 5px 0;
      font-size: 14px;
      text-transform: uppercase;

      &.no-border {
        border-bottom: none;
      }
    }

    img {
      @include border-radius(2px);
      margin-top: 2px;
    }

    hr {
      border-color: #ddd;
      padding: 0;
      margin: 0;
    }

    .comment {
      padding: 10px 0;

      .col-xs-10 {
        padding-left: 5px;

        p {
          margin: 5px 0;
        }
      }
    }

    #post-comments-next {
      margin: 8px 0 12px 0;

      a {
        color: #444;
        height: 28px;
        font-size: 12px;
        padding-top: 4px;
      }
    }

    #post-comment-input {
      margin-top: 20px;
    }
  }

  #post-info {
    padding: 0;
    margin: 35px 20px 0 8px;
    width: 225px;

    .placeholder {
      margin-top: 28px;
    }

    #post-views {
      .icons-eye_lg {
        padding-left: 25px;
      }
    }

    #post-likes {
      button {
        margin: 0;
        padding: 0;
        width: 230px;
      }

      span {
        color: #f22;
        margin-left: -1px;
      }

      small {
        margin-left: 1px;
      }

      .icons-heart_lg_red, .icons-heart_lg {
        padding-left: 25px;
        width: auto;

      }

      &:hover {
        .icons-heart_lg {
          background-position: sprite-position($icons, heart_lg_red);
        }
      }
    }

    .post-likes-click {
      cursor: pointer;

      small {
        @include transition(all 0.25s)
      }

      &:hover {
        small {
          color: $brand-black;
        }
      }
    }

    .info-entry {
      margin: 0px 5px;
      padding: 10px 15px 10px 5px;
      border-bottom: 1px solid #ddd;
      font-size: 18px;

      small {
        position: relative;
        bottom: 3px;
        left: 5px;
        font-size: 13px;
      }

      .pull-right {
        position: relative;
        top: -2px;
      }
    }

    .info-list {
      margin: 0px 5px;
      padding: 13px 15px 10px 5px;
      border-bottom: 1px solid #ddd;
      small {
        position: relative;
        bottom: 2px;
      }

      .info-header {
        color: #777;
        font-size: 13px;
      }
    }

    #post-share {
      cursor: pointer;

      .icons-share {
        padding-left: 25px;
      }

      &:hover {
        small {
          color: $brand-black;
        }
      }
    }

    #post-items {
      .item-number {
        @include border-radius(2px);
        @include transition(all 0.25s);

        display: inline-block;
        background-color: #ccc;
        color: white;
        font-size: 12px;
        padding: 0px 5px;
        margin-right: 5px;
        cursor: default;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
      }

      .item-number-hovered {
        background-color: $brand-primary;
      }

      .item-info {
        .item-name a {
          border-bottom: 1px dashed #999;
          color: #333;
          text-overflow: ellipsis;
          white-space:nowrap;
          overflow: hidden;

          &:hover {
            color: $brand-primary;
            text-decoration: none;
            border-bottom: 1px solid $brand-primary;
          }
        }

        .small a {
          position: relative;
          top: 1px;
          color: #999;
          cursor: pointer;

          &:hover {
            color: $brand-primary;
          }
        }
      }
    }

    #post-tags {
      .tag {
        font-size: 12px;
        padding: 1px 6px;
      }
    }
  }

  #user-sidebar {
    width: 240px;
    padding: 0;
    margin-left: 20px;

    .sidebar-header {
      border-bottom: 2px solid #ddd;
      padding-bottom: 5px;
      margin-bottom: 15px;
      margin-top: 30px;
      font-weight: bold;

      &:first-child {
        margin-top: 0;
      }
    }

    #user-info {
      img {
        @include border-radius(3px);

        margin-right: 15px;
      }

      .btn {
        padding-top: 5px;
        height: 30px;
      }

      .glyphicon-map-marker {
        margin-left: -2px;
      }

      .small {
        margin-top: 5px;
        margin-bottom: 11px;
      }
    }

    #user-stats {
      .col-xs-4 {
        border-right: 1px solid #ddd;

        .stat-count {
          font-size: 16px;
        }

        .stat-name {
          font-size: 11px;
          color: #999;
        }
      }

      .col-xs-4:last-child {
        border-right: none;
      }
    }
  }

  #show-post-img-container {
    position: relative;
  }

  #post-like-btn {
    margin-top: 25px;
  }

  .big-like-btn button{
    font-size: 24px;
    margin-top: 18px;
  }

  #post-edit-btns {
    margin-top: 15px;

    a:first-child {
      margin-right: 15px;
    }

    a:last-child {
      color: $brand-danger;
      position: relative;
      top: 2px;
      text-decoration: underline;

      &:hover {
        color: darken($brand-danger, 10%);
      }
    }
  }
}
