@import 'colors';

body.posts-show {
  .col-xs-5 {
    width: 420px;

    #post-nav {
      margin-top: -24px;
      margin-bottom: 10px;

      .fa {
        @include border-radius(2px);

        font-size: 30px;
        padding: 10px;
        color: #999;
        cursor: pointer;
        margin-top: 3px;

        &:hover {
          color: $brand-blue;
          background-color: #ddd;
        }
      }

      h3 {
        margin-top: 0px;
        margin-bottom: -5px;
        font-size: 20px;
        padding-top: 10px;
      }

      .placeholder {
        width: 31px;
        height: 50px;
      }
    }
  }

  #post-info {
    margin-top: 35px;
    margin-left: 10px;
    width: 260px;

    .placeholder {
      margin-top: 28px;
    }

    #post-likes {
      button {
        margin: 0;
        padding: 0;
        width: 230px;
      }

      span {
        color: #f22;
        margin-left: -1px;
      }

      small {
        margin-left: 1px;
      }

      .glyphicon-heart-black {
        color: #444;
      }
    }

    .post-likes-click {
      cursor: pointer;

      span {
        @include transition(0.25s)
      }
    }

    .post-likes-click:hover {
      span {
        color: #f22 !important;
      }

      small {
        color: $brand-black;
      }
    }

    .info-entry {
      margin: 0px 5px;
      padding: 13px 15px 7px 5px;
      border-bottom: 1px solid #ddd;
      font-size: 18px;

      span {
        font-size: 19px;
        color: #444;
      }

      small {
        position: relative;
        bottom: 3px;
        left: 5px;
        font-size: 13px;
      }
    }

    .info-list {
      margin: 0px 5px;
      padding: 13px 15px 10px 5px;
      border-bottom: 1px solid #ddd;
      small {
        position: relative;
        bottom: 2px;
      }

      .info-header {
        color: #999;
        font-size: 14px;
      }
    }

    #post-share {
      cursor: pointer;
    }

    #post-share:hover {
      span {
        color: $brand-black;
      }

      small {
        color: $brand-black;
      }
    }

    #post-items {
      .item-number {
        @include border-radius(2px);
        @include transition(0.25s);

        display: inline-block;
        background-color: #ccc;
        color: white;
        font-size: 12px;
        padding: 0px 5px;
        margin-right: 5px;
        cursor: default;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
      }

      .item-number-hovered {
        background-color: $brand-blue;
      }
    }

    #post-tags {
      .tag {
        font-size: 12px;
        padding: 1px 6px;
      }
    }
  }

  #user-sidebar {
    width: 260px;
    margin-left: 10px;

    #time-ago {
    }

    .sidebar-header {
      border-bottom: 2px solid #ddd;
      padding-bottom: 5px;
      margin-bottom: 15px;
      margin-top: 30px;
    }

    .sidebar-header:first-child {
      margin-top: 0;
    }

    #user-info {
      img {
        @include border-radius(3px);

        margin-right: 15px;
      }

      .btn {
        padding-top: 5px;
        height: 30px;
      }

      .glyphicon-map-marker {
        margin-left: -2px;
      }

      .small {
        margin-top: 5px;
        margin-bottom: 11px;
      }
    }

    #user-stats {
      .col-xs-4 {
        border-right: 1px solid #ddd;

        .stat-count {
          font-size: 16px;
        }

        .stat-name {
          font-size: 11px;
          color: #999;
        }
      }

      .col-xs-4:last-child {
        border-right: none;
      }
    }
  }

  #show-post-img-container {
    position: relative;
  }

  #post-like-btn {
    margin-top: 25px;
  }

  .big-like-btn button{
    font-size: 24px;
    margin-top: 18px;
  }

  .comment {
    .col-xs-10 {
      margin-left: -20px;
    }
  }

  #post-edit-btns {
    margin-top: 10px;
    margin-left: 115px;
    a {
      width: 80px;
    }
  }
}
