body.posts-show {
  #show-post-img-container {
    position: relative;
  }

  #post-like-btn {
    margin-top: 25px;
  }

  .big-like-btn button{
    font-size: 24px;
    margin-top: 18px;
  }

  .comment {
    .col-xs-10 {
      margin-left: -20px;
    }
  }
}
